When it starts the first time it creates a wrong JWT token

`org.springframework.web.util.NestedServletException: Request processing failed; nested exception is io.jsonwebtoken.security.WeakKeyException: The signing key's size is 416 bits which is not secure enough for the HS512 algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS512 MUST have a size >= 512 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS512)' method to create a key guaranteed to be secure enough for HS512.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.`

> When it starts the first time it creates a wrong JWT token
> 
> `org.springframework.web.util.NestedServletException: Request processing failed; nested exception is io.jsonwebtoken.security.WeakKeyException: The signing key's size is 416 bits which is not secure enough for the HS512 algorithm. The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS512 MUST have a size >= 512 bits (the key size must be greater than or equal to the hash output size). Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS512)' method to create a key guaranteed to be secure enough for HS512. See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.`

fixed